.layoutContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: var(--foreground-default);
    position: relative;
    padding-left: 14rem;
    overflow-x: hidden;
}

.cardContainer {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 1250px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .layoutContainer {
        padding-left: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 200px;
}

.pageTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--foreground-default);
}

.sectionContainer {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--border-default);
}