.formItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formLabelError {
    color: var(--destructive-default)
}

.formDescription {
    color: var(--foreground-light);
    font-size: 0.875rem;
}

.formMessage {
    color: var(--destructive-default);
    font-size: 0.875rem;
    font-weight: 500;
}