.pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: hidden;
    padding-bottom: 69px;
}

.playlistContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
}