.label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--foreground-default);
  cursor: pointer;
}

.label:hover {
  color: var(--foreground-light);
}

*:disabled + .label {
  cursor: not-allowed;
  opacity: 0.7;
  color: var(--foreground-muted);
}

.required::after {
  content: "*";
  color: var(--destructive-default);
  margin-left: 0.125rem;
}
