.toggleVisibility {
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-end: 0;
    display: flex;
    height: 100%;
    width: 2.5rem;
    color: var(--foreground-muted);
}

.toggleVisibility:hover {
    color: var(--foreground-default);
    background-color: transparent;
}

.strengthIndicator {
    height: 0.25rem;
    width: 100%;
    border-radius: 999px;
    overflow: hidden;
    background-color: var(--border-default);
}

.strengthIndicator div {
    height: 100%;
    transition: all 0.5s ease-out;
}

.default {
    background-color: var(--border-default)
}

.bad {
    background-color: var(--destructive-default)
}

.medium {
    background-color: var(--warning-default)
}

.almost {
    background-color: #ffbf00
}

.good {
    background-color: var(--success-default)
}

.strengthDescription {
    font-size: 0.75rem;
    color: var(--foreground-default);
    font-weight: 500;
}

.requirements {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.requirements li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.requirements li span {
    font-size: 0.75rem;
}

.textSuccess {
    color: var(--success-default);
}

.textNotMet {
    color: var(--foreground-muted);
}

.confirmPasswordLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.passwordContainer div {
    position: relative
}