.passwordLabel {
    display: flex;
    align-items: center;
}

.forgotPassword {
    margin-left: auto;
    font-size: 0.875rem;
    color: var(--foreground-default);
    text-underline-offset: 2px;
}

.forgotPassword:hover {
    text-decoration: underline;
}