/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */
body {
  min-height: 100svh;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove all strange presets for anchor tags */
a {
  all: unset;
  cursor: pointer;
}


/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
  line-break: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  hanging-punctuation: first last;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --helpers-os-appearance: Light;

  /* general colors */
  --amber-default: #b45309;

  --success-default: #10b981;
  --success-600: #065f46;
  --success-500: #16a34a;
  --success-400: #22c55e;
  --success-300: #86efac;

  --purple-default: #8b5cf6;
  --purple-600: #7c3aed;
  --purple-500: #a855f7;
  --purple-400: #9333ea;
  --purple-300: #c4b5fd;

  --blue-default: #3b82f6;
  --blue-600: #2563eb;
  --blue-500: #3b82f6;
  --blue-400: #60a5fa;
  --blue-300: #93c5fd;

  --indigo-default: #4f46e5;
  --indigo-600: #4338ca;
  --indigo-500: #6366f1;
  --indigo-400: #818cf8;
  --indigo-300: #a5b4fc;

  --pink-default: #ec4899;
  --pink-600: #db2777;
  --pink-500: #ec4899;
  --pink-400: #f472b6;
  --pink-300: #f9a8d4;

  --colors-gray-light-100: hsl(0deg 0% 98.8%);
  --colors-gray-light-200: hsl(0deg 0% 97.3%);
  --colors-gray-light-300: hsl(0deg 0% 95.3%);
  --colors-gray-light-400: hsl(0deg 0% 92.9%);
  --colors-gray-light-500: hsl(0deg 0% 91%);
  --colors-gray-light-600: hsl(0deg 0% 88.6%);
  --colors-gray-light-700: hsl(0deg 0% 85.9%);
  --colors-gray-light-800: hsl(0deg 0% 78%);
  --colors-gray-light-900: hsl(0deg 0% 56.1%);
  --colors-gray-light-1000: hsl(0deg 0% 52.2%);
  --colors-gray-light-1100: hsl(0deg 0% 43.5%);
  --colors-gray-light-1200: hsl(0deg 0% 9%);

  --code-block-5: hsl(14deg 80.4% 58%);
  --code-block-4: hsl(276.3deg 60% 52.9%);
  --code-block-3: hsl(83.8deg 61.6% 48%);
  --code-block-2: hsl(33.1deg 80% 52.9%);
  --code-block-1: hsl(170.6deg 43.2% 51%);
  --secondary-default: hsl(247.8deg 100% 70%);
  --secondary-400: hsl(248.3deg 54.5% 25.9%);
  --secondary-200: hsl(248deg 53.6% 11%);
  --brand-button: #87ABE8;
  --brand-default: hsl(218deg, 100%, 83%);
  --brand-600: #4C75BA;
  --brand-500: #678AC9;
  --brand-400: #87ABE8;
  --brand-300: #BFD7FF;
  --brand-200: #E6EFFF;
  --warning-default: hsl(38.9deg 100% 57.1%);
  --warning-600: hsl(30.3deg 80.3% 47.8%);
  --warning-500: hsl(36.3deg 85.7% 67.1%);
  --warning-400: hsl(41.9deg 100% 81.8%);
  --warning-300: hsl(44.3deg 100% 91.8%);
  --warning-200: hsl(40deg 81.8% 97.8%);
  --destructive-default: hsl(0.2deg 77.9% 53.9%);
  --destructive-600: hsl(9.9deg 82% 43.5%);
  --destructive-500: hsl(10.4deg 77.1% 79.4%);
  --destructive-400: hsl(7.1deg 91.3% 91%);
  --destructive-300: hsl(7.1deg 100% 96.7%);
  --destructive-200: hsl(0deg 100% 99.4%);
  --border-stronger: hsl(0deg 0% 56.1%);
  --border-strong: hsl(0deg 0% 83.1%);
  --border-default: hsl(0deg 0% 87.5%);
  --background-dialog-default: hsl(0deg 0% 100%);
  --background-muted: hsl(0deg 0% 96.9%);
  --background-surface-400: hsl(0deg 0% 89.8%);
  --background-surface-300: hsl(0deg 0% 92.9%);
  --background-surface-200: hsl(0deg 0% 95.3%);
  --background-surface-100: hsl(0deg 0% 97.7%);
  --background-surface-50: hsl(0deg 0% 97.7%);
  --background-alternative-default: hsl(0deg 0% 99.2%);
  --background-alternative-200: hsl(0deg 0% 100%);
  --foreground-contrast: hsl(0deg 0% 98.4%);
  --foreground-muted: hsl(0deg 0% 69.8%);
  --foreground-lighter: hsl(0deg 0% 43.9%);
  --foreground-light: hsl(0deg 0% 32.2%);

  --border-button-hover: var(--colors-gray-light-700);
  --border-button-default: var(--colors-gray-light-600);
  --border-alternative: var(--colors-gray-light-500);
  --border-control: var(--colors-gray-light-800);
  --border-overlay: var(--colors-gray-light-500);
  --border-secondary: var(--colors-gray-light-400);
  --border-muted: var(--colors-gray-light-400);
  --background-dash-canvas: var(--colors-gray-light-200);
  --background-dash-sidebar: var(--colors-gray-light-100);
  --background-button-default: var(--colors-gray-light-100);
  --background-overlay-hover: var(--colors-gray-light-300);
  --background-overlay-default: var(--colors-gray-light-100);
  --background-control: var(--colors-gray-light-300);
  --background-selection: var(--colors-gray-light-400);
  --background-default: var(--colors-gray-light-100);
  --background-200: var(--colors-gray-light-200);
  --foreground-default: var(--colors-gray-light-1200);
}

[data-theme="dark"] {
  --helpers-os-appearance: Dark;
  --code-block-5: hsl(13.8deg 89.7% 69.6%);
  --code-block-4: hsl(276.1deg 67.7% 74.5%);
  --code-block-3: hsl(83.8deg 61.7% 63.1%);
  --code-block-2: hsl(33.2deg 90.3% 75.7%);
  --code-block-1: hsl(170.8deg 43.1% 61.4%);
  --secondary-default: hsl(247.8deg 100% 70%);
  --secondary-400: hsl(248.3deg 54.5% 25.9%);
  --secondary-200: hsl(248deg 53.6% 11%);
  --brand-button: hsl(218deg, 36%, 47%);
  --brand-default: hsl(218deg, 100%, 83%);
  --brand-600: hsl(218deg, 79%, 91%);
  --brand-500: hsl(218deg, 80%, 74%);
  --brand-400: hsl(218deg, 56%, 64%);
  --brand-300: hsl(218deg, 36%, 47%);
  --brand-200: hsl(218deg, 50%, 25%);
  --warning-default: hsl(38.9deg 100% 42.9%);
  --warning-600: hsl(38.9deg 100% 42.9%);
  --warning-500: hsl(34.8deg 90.9% 21.6%);
  --warning-400: hsl(33.2deg 100% 14.5%);
  --warning-300: hsl(32.3deg 100% 10.2%);
  --warning-200: hsl(36.6deg 100% 8%);
  --destructive-default: hsl(10.2deg 77.9% 53.9%);
  --destructive-600: hsl(9.7deg 85.2% 62.9%);
  --destructive-500: hsl(7.9deg 71.6% 29%);
  --destructive-400: hsl(6.7deg 60% 20.6%);
  --destructive-300: hsl(7.5deg 51.3% 15.3%);
  --destructive-200: hsl(10.9deg 23.4% 9.2%);
  --border-stronger: hsl(0deg 0% 27.1%);
  --border-strong: hsl(0deg 0% 21.2%);
  --border-alternative: hsl(0deg 0% 26.7%);
  --border-control: hsl(0deg 0% 22.4%);
  --border-overlay: hsl(0deg 0% 20%);
  --border-secondary: hsl(0deg 0% 14.1%);
  --border-muted: hsl(0deg 0% 14.1%);
  --border-default: hsl(0deg 0% 18%);
  --background-muted: 0deg 0% 14.1%;
  --background-surface-400: hsl(0deg 0% 16.1%);
  --background-surface-300: hsl(0deg 0% 16.1%);
  --background-surface-200: hsl(0deg 0% 12.9%);
  --background-surface-100: hsl(0deg 0% 12.2%);
  --background-surface-50: hsl(0deg 0% 8.2%);
  --background-alternative-default: hsl(0deg 0% 5.9%);
  --background-default: hsl(0deg 0% 7.1%);
  --background-200: hsl(0deg 0% 9%);
  --foreground-contrast: hsl(0deg 0% 8.6%);
  --foreground-muted: hsl(0deg 0% 30.2%);
  --foreground-lighter: hsl(0deg 0% 53.7%);
  --foreground-light: hsl(0deg 0% 70.6%);
  --foreground-default: hsl(0deg 0% 98%);

  --colors-gray-dark-100: hsl(0deg 0% 8.6%);
  --colors-gray-dark-200: hsl(0deg 0% 11%);
  --colors-gray-dark-300: hsl(0deg 0% 13.7%);
  --colors-gray-dark-400: hsl(0deg 0% 15.7%);
  --colors-gray-dark-500: hsl(0deg 0% 18%);
  --colors-gray-dark-600: hsl(0deg 0% 20.4%);
  --colors-gray-dark-700: hsl(0deg 0% 24.3%);
  --colors-gray-dark-800: hsl(0deg 0% 31.4%);
  --colors-gray-dark-900: hsl(0deg 0% 43.9%);
  --colors-gray-dark-1000: hsl(0deg 0% 49.4%);
  --colors-gray-dark-1100: hsl(0deg 0% 62.7%);
  --colors-gray-dark-1200: hsl(0deg 0% 92.9%);

  background-color: var(--background-alternative-default);
}


/* ANIMATIONS */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(150ms);
}