:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --helpers-os-appearance: Light;
  /* todo: Put light mode colors here */

}

@media (prefers-color-scheme: dark) {
  :root {
    --helpers-os-appearance: Dark;
    --code-block-5: hsl(13.8deg 89.7% 69.6%);
    --code-block-4: hsl(276.1deg 67.7% 74.5%);
    --code-block-3: hsl(83.8deg 61.7% 63.1%);
    --code-block-2: hsl(33.2deg 90.3% 75.7%);
    --code-block-1: hsl(170.8deg 43.1% 61.4%);
    --secondary-default: hsl(247.8deg 100% 70%);
    --secondary-400: hsl(248.3deg 54.5% 25.9%);
    --secondary-200: hsl(248deg 53.6% 11%);
    --brand-link: hsl(155deg 100% 38.6%);
    --brand-button: hsl(154.9deg 100% 19.2%);
    --brand-default: hsl(153.1deg 60.2% 52.7%);
    --brand-600: hsl(154.9deg 59.5% 70%);
    --brand-500: hsl(154.9deg 100% 19.2%);
    --brand-400: hsl(155.5deg 100% 9.6%);
    --brand-300: hsl(155.1deg 100% 8%);
    --brand-200: hsl(162deg 100% 2%);
    --warning-default: hsl(38.9deg 100% 42.9%);
    --warning-600: hsl(38.9deg 100% 42.9%);
    --warning-500: hsl(34.8deg 90.9% 21.6%);
    --warning-400: hsl(33.2deg 100% 14.5%);
    --warning-300: hsl(32.3deg 100% 10.2%);
    --warning-200: hsl(36.6deg 100% 8%);
    --destructive-default: hsl(10.2deg 77.9% 53.9%);
    --destructive-600: hsl(9.7deg 85.2% 62.9%);
    --destructive-500: hsl(7.9deg 71.6% 29%);
    --destructive-400: hsl(6.7deg 60% 20.6%);
    --destructive-300: hsl(7.5deg 51.3% 15.3%);
    --destructive-200: hsl(10.9deg 23.4% 9.2%);
    --border-stronger: hsl(0deg 0% 27.1%);
    --border-strong: hsl(0deg 0% 21.2%);
    --border-alternative: hsl(0deg 0% 26.7%);
    --border-control: hsl(0deg 0% 22.4%);
    --border-overlay: hsl(0deg 0% 20%);
    --border-secondary: hsl(0deg 0% 14.1%);
    --border-muted: hsl(0deg 0% 14.1%);
    --border-default: hsl(0deg 0% 18%);
    --background-muted: 0deg 0% 14.1%;
    --background-surface-400: hsl(0deg 0% 16.1%);
    --background-surface-300: hsl(0deg 0% 16.1%);
    --background-surface-200: hsl(0deg 0% 12.9%);
    --background-surface-100: hsl(0deg 0% 12.2%);
    --background-alternative-default: hsl(0deg 0% 5.9%);
    --background-default: hsl(0deg 0% 7.1%);
    --background-200: hsl(0deg 0% 9%);
    --foreground-contrast: hsl(0deg 0% 8.6%);
    --foreground-muted: hsl(0deg 0% 30.2%);
    --foreground-lighter: hsl(0deg 0% 53.7%);
    --foreground-light: hsl(0deg 0% 70.6%);
    --foreground-default: hsl(0deg 0% 98%);
  }
}