.scrollbar {
    display: flex;
    touch-action: none;
    user-select: none;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.scrollbarVertical {
    height: 100%;
    width: 0.75rem;
    padding: 1px;
    /* border-left: 1px solid var(--border-default);
    background-color: var(--background-alternative-default); */
    background-color: transparent;
    z-index: 100;
}

.scrollbarHorizontal {
    height: 0.75rem;
    flex-direction: column;
    padding: 1px;
    /* border-top: 1px solid var(--border-default);
    background-color: var(--background-alternative-default); */
    background-color: transparent;
    z-index: 100;
}

.scrollbarThumb {
    position: relative;
    flex: 1;
    z-index: 100;
    border-radius: 0.25rem;
    background-color: var(--border-default);
}

.viewport {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.controlButton {
    border-radius: 999px !important;
    padding-inline: 0.5rem;
}

.moreButton {
    border-radius: 999px !important;
}

.root {
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--foreground-default);
}

.header {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}