.scrollbar {
    display: flex;
    touch-action: none;
    user-select: none;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}

.scrollbarVertical {
    height: 100%;
    width: 0.75rem;
    padding: 1px;
    border-left: 1px solid var(--border-default);
    background-color: var(--background-alternative-default);
    z-index: 100;
}

.scrollbarHorizontal {
    height: 2.5rem;
    flex-direction: column;
    padding: 1px;
    border-top: 1px solid var(--border-default);
    background-color: var(--background-alternative-default);
    z-index: 100;
}

.scrollbarThumb {
    position: relative;
    flex: 1;
    z-index: 100;
    border-radius: 0.25rem;
    background-color: var(--border-default);
}

.viewport {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.root {
    position: relative;
    overflow: hidden;
}